# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
cities=pd.read_csv("../Outputs/weather_output.csv")
cities.head()

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Long,Temp,Wind Speed,Max Temp
0,0,600,thompson,90,CA,1612051484,92,55.7435,-97.8558,-10.00,1.03,-10.00
1,1,801,hobart,20,AU,1612051206,39,-42.8794,147.3294,20.06,4.12,21.67
2,2,802,port lincoln,43,AU,1612051436,67,-34.7333,135.8667,18.49,6.16,18.49
3,3,802,isangel,40,VU,1612051485,69,-19.5500,169.2667,28.00,4.12,28.00
4,4,803,mataura,83,NZ,1612051485,42,-46.1927,168.8643,20.61,1.06,20.61

In [15]:
cities["Max Temp"].max()

35.0

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key=g_key)

In [17]:
locations= cities[["Lat", "Long"]]


fig =gmaps.figure()

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
# this works getting location markers to show
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
 #adding the heat map
locations= cities[["Lat", "Long"]]

rating=cities['Humidity']

# plot heatmap
fig = gmaps.figure()

heat_layer=gmaps.heatmap_layer(locations,weights=rating,dissipating=False,max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
cities

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Long,Temp,Wind Speed,Max Temp
0,0,600,thompson,90,CA,1612051484,92,55.7435,-97.8558,-10.00,1.03,-10.00
1,1,801,hobart,20,AU,1612051206,39,-42.8794,147.3294,20.06,4.12,21.67
2,2,802,port lincoln,43,AU,1612051436,67,-34.7333,135.8667,18.49,6.16,18.49
3,3,802,isangel,40,VU,1612051485,69,-19.5500,169.2667,28.00,4.12,28.00
4,4,803,mataura,83,NZ,1612051485,42,-46.1927,168.8643,20.61,1.06,20.61
...,...,...,...,...,...,...,...,...,...,...,...,...
558,558,802,emba,47,KZ,1612051552,92,48.8264,58.1442,-9.69,3.06,-9.69
559,559,804,algeciras,100,ES,1612051552,67,36.1333,-5.4505,15.00,9.26,15.00
560,560,804,karratha,100,AU,1612051468,49,-20.7377,116.8463,31.05,1.82,31.05
561,561,600,butler,90,US,1612051552,60,39.4501,-84.5666,0.92,2.57,2.00
562,562,803,asfi,63,MA,1612051552,87,32.2994,-9.2372,14.95,3.60,14.95

In [20]:
#A max temperature lower than 80 degrees but higher than 65.
#Wind speed less than 5 mph.
#Zero cloudiness.

ideal_temp = cities.loc[(cities["Max Temp"] <90) &(cities["Max Temp"] >25) & (cities["Wind Speed"] <10) & (cities["Cloudiness"]<6)]
ideal_temp

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Long,Temp,Wind Speed,Max Temp
16,16,800,santa luzia,0,BR,1612051262,47,-19.7697,-43.8514,27.00,3.60,27.00
23,23,800,touros,0,BR,1612051487,83,-5.1989,-35.4608,26.00,2.57,26.00
45,45,800,saint-philippe,0,RE,1612051270,65,-21.3585,55.7679,22.82,2.57,26.00
47,47,500,hilo,1,US,1612051322,57,19.7297,-155.0900,23.33,3.09,27.00
57,57,800,geraldton,0,AU,1612051358,25,-28.7667,114.6000,32.00,6.69,32.00
74,74,800,kulhudhuffushi,4,MV,1612051374,66,6.6221,73.0700,27.60,2.92,27.60
98,98,800,bida,0,NG,1612051495,17,9.0833,6.0167,25.71,2.57,25.71
120,120,800,conakry,0,GN,1612051498,67,9.5380,-13.6773,26.51,2.21,26.51
247,247,800,vila velha,0,BR,1612051156,78,-20.3297,-40.2925,25.48,5.66,26.00
382,382,800,alice,1,US,1612051531,45,27.7523,-98.0697,30.12,2.63,31.00
432,432,800,kapoeta,0,SS,1612051537,33,4.7717,33.5903,27.36,4.87,27.36
467,467,800,inhambane,5,MZ,1612051541,82,-23.8650,35.3833,25.72,2.84,25.72
502,502,800,saint-pierre,0,RE,1612051336,65,-21.3393,55.4781,24.27,2.57,26.00
533,533,800,santa isabel,0,BR,1612051347,69,-23.3156,-46.2214,26.50,1.03,28.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel_df=ideal_temp.loc[:,["City", "Country", "Lat","Long"]]

In [22]:
# add hotel name as a column to clean df
hotel_df["Hotel Name"] = ""

In [23]:
hotel_df

               City Country      Lat      Long Hotel Name
16      santa luzia      BR -19.7697  -43.8514
23           touros      BR  -5.1989  -35.4608
45   saint-philippe      RE -21.3585   55.7679
47             hilo      US  19.7297 -155.0900
57        geraldton      AU -28.7667  114.6000
74   kulhudhuffushi      MV   6.6221   73.0700
98             bida      NG   9.0833    6.0167
120         conakry      GN   9.5380  -13.6773
247      vila velha      BR -20.3297  -40.2925
382           alice      US  27.7523  -98.0697
432         kapoeta      SS   4.7717   33.5903
467       inhambane      MZ -23.8650   35.3833
502    saint-pierre      RE -21.3393   55.4781
533    santa isabel      BR -23.3156  -46.2214

In [25]:
# find the closest restaurant of each type to coordinates
lat=hotel_df['Lat']
long=hotel_df['Long']


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": f"{'lat'},{'long'}",
    "radius": "5000",
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    hotel_name = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']

KeyError: 'ethnicity'

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: "['Lng'] not in index"

In [27]:
# Add marker layer ontop of heat map


# Display figure